<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DevOps Pipeline with CircleCI</title>
</head>

<body>
    <h1>🚀 Welcome to My DevOps Pipelineeee!</h1>
    <p>This project showcases a simple CI/CD pipeline built with <strong>CircleCI</strong>.</p>

    <h2>📦 Technologies Used:</h2>
    <ul>
        <li>Python3🐍</li>
        <li>Flask </li>
        <li>Pytest 🧪</li>
        <li>CircleCI </li>
        <li>Git & GitHub </li>
    </ul>

    <h2>✅ What It Does:</h2>
    <ol>
        <li>Runs tests on every commit to <code>main</code></li>
        <li>Ensures the Flask app is working correctly</li>
        <li>Provides automated feedback via CircleCI pipeline</li>
    </ol>

    <p>Check out the project repo here: <a href="https://github.com/abhidrip/circleci-demoya.git" target="_blank">GitHub
            Repo</a></p>

    <footer>
        <hr>
        <p>&copy; 2025 Abhideep Sahni | CircleCI Demo Project</p>
    </footer>
</body>

</html>